.App {
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  width: 90%;
  margin: 1rem auto;
}
.product h3 {
  font-size: 1.5rem;
  padding: 0 10px;
}

hr {
  border: 2px solid #eee;
  width: 80%;
  margin: 0;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  height: 5rem;
  border: 2px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background: #eee;
}
